<div class="my-scene-fade-bottom" id="myscenefadebottom" x-mojo-scroll-fade="bottom"></div>
<div id="main">
	<div class="palm-page-header brandHeader" id="brandHeader">
		<div class="palm-page-header-wrapper">
			<div class="title" id="title">Ringtones Help</div>
		</div>
	</div>
	<div class="brandHeaderSpacer" id="brandHeaderSpacer"></div>

	<div x-mojo-element="Spinner" id="loadSpinner" name="loadSpinner">
		<div id="spinnertext">Loading</div>
	</div>

	<div id="helpContent" class="palm-body-text" style="margin:10px; font-size:14px;">
		
		<div id="helpDownloadRingtones" title="How to Download Ringtones" style="display:none;">
			<table class='palm-list-section-label' style="margin-left:-10px; margin-right:-40px; width:320px;"><tr><td class=left></td><td class=label>Downloading Ringtones</td><td class=right></td></tr></table>
			Downloading ringtones is easy and straight forward.<br />
			<br />
			From the opening screen, you can search for any song that you like. You can also use the Top 100 list to find new and popular music.<br />
			<br />
			Tapping on a specific song will show you the details. Tap the <strong>Play</strong> button to listen to the track. If you want to set this song as your current Ringtone, tap on <strong>Set as Ringtone</strong>. If you would like to download it to assign to a specific contact later, tap on <strong>Download</strong>. You can scroll through the list by swiping the details to the left or right.<br />
			<br />
			All downloads are stored on your device in the &quot;Ringtones&quot; folder. They are named as &quot;Artist Name - Song Name&quot; so that they can be easily recognized.<br />
			<br />
			<table class='palm-list-section-label' style="margin-left:-10px; margin-right:-40px; width:320px;"><tr><td class=left></td><td class=label>Problems Downloading?</td><td class=right></td></tr></table>
			Some users report failed downloads. Make sure that you have a good data connection (not a 1x connection). Try turning your device off and then back on again. If you are on a Wifi connection, try turning it off. If possible, use Wifi for faster viewing and downloading. Palm Pixi users will have this issue the most as they cannot connect to Wifi. Pixi Plus users can use Wifi.<br /><br />
			<br />
		</div>

		<!-- -->
		
		<div id="helpDiagnose" title="Diagnose Audio &amp; Download Errors" style="display:none;">
			<table class='palm-list-section-label' style="margin-left:-10px; margin-right:-40px; width:320px;"><tr><td class=left></td><td class=label>Do a Self Diagnosis</td><td class=right></td></tr></table>
			If you are experiencing issues playing audio or downloading files, follow these steps.<br />
			<br />
			<b>Reboot</b><br /> 
			99% of all download issues can be solved by restarting your device. This app requires a good data connection in order to work. Restarting your device ensures a fresh connection is made.<br />
			<br />
			<b>1x Data Connections</b><br />
			Look at the top right corner of the screen, Do you see an icon that says '1x'? If so, this is a slower data connection and downloads will fail. Move to a better signal area or try a Wifi connection. Rebooting can also help.<br />
			<br />
			<b>Turn off Wifi</b><br /> 
			If you are on a Wifi connection, try turning it off. I am unsure why, but this helps resolve some users issues.<br />
			<br />
			<b>Audio Not Playing</b><br /> 
			If you cannot hear the audio, make sure the volume is turned up. Hit play, and then use the volume buttons to turn it up. There are actually two volume controls on your device.<br />
			<br />
			<strong>Download/Audio Still Fails</strong><br />
			If download's or audio still fail, please email me the details of the error. I will also need the exact song name and artist of the ringtone you are trying to download.<br />
			<br />
		</div>

		<!-- -->
		
		<div id="helpAssignRingtones" title="How to Assign Ringtones" style="display:none;">
			<table class='palm-list-section-label' style="margin-left:-10px; margin-right:-40px; width:320px;"><tr><td class=left></td><td class=label>Assign Default Ringtone</td><td class=right></td></tr></table>
			Assigning a ringtone to your phone is easy. Simply use the application to find the ringtone you would like and tap on <strong>Set as Ringtone</strong>.<br />
			<br />
			<span style="color:red; font-weight:bold">NOTE:</span> Some users report issues setting ringtones for contacts. In my testing, it does work. However, I have noticed times when it reverts back to a previous setting randomly. Try setting it, close the app, then restart the phone. That should lock it in.<br />
			<br />
			<table class='palm-list-section-label' style="margin-left:-10px; margin-right:-40px; width:320px;"><tr><td class=left></td><td class=label>Assign Ringtone to Contact</td><td class=right></td></tr></table>
			To assign custom ringtones to each of your contacts, you can first <strong>Download</strong> the ringtones you would like to use. Open up the Contacts application and find the contact you would like to set a ringtone for. Tap on it to go into the details, then tap <strong>Edit</strong>.<br />
			<br />
			<strong>No Ringtone Set:</strong> If the contact does not have a ringtone already, you will see &quot;Set a ringtone&quot;. Tap on this. The ringtones you have downloaded along with all others will be listed. You can preview each one by tapping &quot;Play&quot; or assign it by tapping on the list item..<br />
			<br />
			<strong>Ringtone Already Set:</strong> If the contact already has a ringtone, it will display the name of the ringtone. Tapping on it allows you to Change ringtone, or Delete ringtone. You can tap on Change ringtone. The ringtones you have downloaded along with all others will be listed. You can preview each one by tapping &quot;Play&quot; or assign it by tapping on the list item.<br />
			<br />
			<table class='palm-list-section-label' style="margin-left:-10px; margin-right:-40px; width:320px;"><tr><td class=left></td><td class=label>Note</td><td class=right></td></tr></table>
			The Sounds &amp; Ringtones selector can be a bit touchy. Swiping a ringtone to the side will let you delete it. Hitting the play button will let you listen. Tapping on it will set it. Sometimes scrolling down will result in a selection. This is a default Palm app, and not part of this application.<br />
			<br />
		</div>

		<!-- -->

		<div id="helpManageRingtones" title="How to Delete/Manage Ringtones" style="display:none;">
			<table class='palm-list-section-label' style="margin-left:-10px; margin-right:-40px; width:320px;"><tr><td class=left></td><td class=label>Managing Ringtones</td><td class=right></td></tr></table>
			The tools necessary to Edit, Delete, and Custom Assign your ringtones from within THIS app currently do not exist. The required tools should be available by the end of 2010, so for now you will need to use the default management tools.<br />
			<br />
			Manage your ringtones from the <strong>Sounds &amp; Ringtones</strong> app on your device. It's in the third page of the app launcher. You can also tap on <b>Manage Sounds &amp; Ringtones</b> below to launch it.<br />
			<br />
			<b>Management Tips</b>
			<ul style="margin:10px; padding:10px; line-height:175%;">
				<li>Start typing to quickly find matching ringtones</li>
				<li>Swipe ringtones to the side to delete it</li>
				<li>Tap the play icon to listen to it</li>
				<li>Tap on the item itself to assign it as the default ringtone</li>
			</ul>
			<br />
			<br />
		</div>

		<!-- -->

		<div id="helpAssignOther" title="Use Ringtones in Calendar &amp; Alarms" style="display:none;">
			<table class='palm-list-section-label' style="margin-left:-10px; margin-right:-40px; width:320px;"><tr><td class=left></td>
			<td class=label>Using the Ringtones</td><td class=right></td></tr></table>
			You can use the ringtones downloaded in the Calendar and Alarm applications, you just need to set them.<br />
			<br />
			<table class='palm-list-section-label' style="margin-left:-10px; margin-right:-40px; width:320px;"><tr><td class=left></td>
			<td class=label>Ringtones in Clock Alarm</td><td class=right></td></tr></table>
			<ol style="margin:10px; padding:10px; line-height:150%;">
				<li>If the Clock/Alarms app is open, close it</li>
				<li>Now open the Clock/Alarms app</li>
				<li> Select the Alarms option from the bottom menu. It looks like a bell.</li>
				<li>If you already have an alarm setup, tap on the Alarm itself.</li>
				<li>You can now tap on the &quot;Sound&quot; option and choose the ringtone of your choice.</li>
				<li>The same option exists when creating a new Alarm.</li>
			</ol>
			<table class='palm-list-section-label' style="margin-left:-10px; margin-right:-40px; width:320px;"><tr><td class=left></td>
			<td class=label>Ringtones in Calendar</td><td class=right></td></tr></table>
			<ol style="margin:10px; padding:10px; line-height:150%;">
				<li>If the Calendar app is open, close it</li>
				<li>Now open the Calendar app</li>
				<li> In the top left corner, tap on the Application Menu (its labeled &quot;Calendar&quot;)</li>
				<li> Choose &quot;Preferences&quot; &amp; Accounts&quot;</li>
				<li> Under the Event Reminders section, there is an item labeled &quot;Alert&quot;. Tap on this and change it to &quot;Ringtone&quot;</li>
				<li>The Ringtone selector will now show up. You can tap on the Ringtone option to review and select your ringtone</li>
				<li>Close the Calendar app (required)</li>
			</ol>
		</div>

		<!-- -->

		<div id="helpAssignMessaging" title="Use Ringtones in Text &amp; Email" style="display:none;">
			<table class='palm-list-section-label' style="margin-left:-10px; margin-right:-40px; width:320px;"><tr><td class=left></td>
			<td class=label>Using the Ringtones</td><td class=right></td></tr></table>
			You can use the ringtones downloaded in the Messaging and Email alert, you just need to set them.<br />
			<br />
			<table class='palm-list-section-label' style="margin-left:-10px; margin-right:-40px; width:320px;"><tr><td class=left></td>
			<td class=label>Ringtones in Text Message Alerts</td>
			<td class=right></td></tr></table>
			<ol style="margin:10px; padding:10px; line-height:150%;">
				<li>If the Messaging app is open, close it</li>
				<li>Now open the Messaging app</li>
				<li>In the top left corner, tap on the Application Menu (its labeled &quot;Messaging&quot;)</li>
				<li>Choose &quot;Preferences&quot; &amp; Accounts&quot;</li>
				<li>Under the New Message section, there is an item labeled &quot;Alert&quot;. Tap on this and change it to &quot;Ringtone&quot;</li>
				<li>The Ringtone selector will now show up. You can tap on the Ringtone option to review and select your ringtone</li>
				<li>Close the messaging app (required)</li>
			</ol>
			<span style="color:red; font-weight:bold">NOTE:</span> Some users have reported that they cannot use the ringtones from this app for text messages. You can, but it will only play a few seconds of the audio and not the full file. If it does not appear to work for your texts, try turning your phone off, turning it back on, setting the ringtone, and reboot one more time. This should lock it in.<br />
			<br />
			
			<table class='palm-list-section-label' style="margin-left:-10px; margin-right:-40px; width:320px;"><tr><td class=left></td>
			<td class=label>Ringtones in Email Alerts</td>
			<td class=right></td></tr></table>
			<ol style="margin:10px; padding:10px; line-height:150%;">
				<li>If the email app is open, close it</li>
				<li>Now open the Email app</li>
				<li>In the top left corner, tap on the Application Menu (its labeled &quot;Email&quot;)</li>
				<li>Choose &quot;Preferences&quot; &amp; Accounts&quot;</li>
				<li>Now choose the email account you would like to set a ringtone to. Each account can have their own unique tone.</li>
				<li>Under the New Message section, there is an item labeled &quot;Alert&quot;. Tap on this and change it to &quot;Ringtone&quot;.</li>
				<li>The Ringtone selector will now show up. You can tap on the Ringtone option to review and select your ringtone.</li>
			</ol>
			<span style="color:red; font-weight:bold">NOTE:</span> Some users have reported that they cannot use the ringtones from this app for emails. You can, but it will only play a few seconds of the audio (~5 seconds) and not the full file. This is by design in webOS. If it does not appear to work for your emails, try turning your phone off, turning it back on, setting the ringtone, and reboot one more time. This should lock it in.<br />
			<br />
		</div>

		<!-- -->

		<div id="helpFAQ" title="FAQs" style="display:none;">
			<table class='palm-list-section-label' style="margin-left:-10px; margin-right:-40px; width:320px;"><tr><td class=left></td><td class=label>Application FAQs</td><td class=right></td></tr></table>
			<strong>Q.) Is this all really free?</strong><br />
			<span style="color:#FF0000;">Yes! 100% free, no charge, ever.</span> All the ringtones are free and available for you to use immediately. It really is that simple.<br />
			<br />
			<strong>Q.) But there is are purchase options!</strong><br />
			Yes, there are options to legally purchase the full music file via Amazon and iTunes. The ringtones are FREE for personal use, but the full song is not. The full song will never be available for free. Support artists by purchasing the full music files.<br />
			<br />
			<strong>Q.) Can I get a different part of the song?</strong><br />
			No.<br />
			<br />
			<strong>Q.) How do I delete a ringtone?</strong><br />
			Open the "Sounds &amp; Ringtones" app, then you can swipe them to the side to delete. Check out the other Help Area dedicated to this topic.<br />
			<br />
			<strong>Q.) Can I use these for ringbacks?</strong><br />
			No. Neither the phone nor an app play any role in ringbacks (the music a caller hears). You must get these exclusively through your carrier. Why? When someone calls you, they hear the music. This is done before any connection is ever established with your device. If you for instance, turn off your phone, then this feature would not work. Thus, only carriers have the ability to provide this feature.<br />
			<br />
			<strong>Q.) Where are the ringtones stored?</strong><br />
			Ringtone files are stored in the &quot;Ringtones&quot; Folder on your device.<br />
			<br />
			<strong>Q.) No audio plays for my Text Messages!?</strong><br />
			There is a bug in the Pixi itself which prevents the audio from playing. A fix for this is underway and will be out as soon as possible. This is a Palm related bug, so nothing can be done by any developer. Please be patient.<br />
			<br />
			<strong>Q.) Why can I not see ringtones in the music app?</strong><br />
			Ringtones themselves are by nature, not the full song. Thus, they do not show up in the Music App. You can still listen to them from the &quot;Sounds &amp; Ringtones&quot; app. Purchasing the full song will allow you to play music in the music app.<br />
			<br />
			<strong>Q.) Can I trim the ringtone?</strong><br />
			Not yet.<br />
			<br />
			<strong>Q.) Is there a limit?</strong><br />
			The app does not have any limits to how many you can play or download. You are therefore only limited by the amount of space on your device.<br />
			<br />
			<strong>Q.) Can I request a song be added?</strong><br />
			Unfortunately, no.<br />
			<br />
			<strong>Q.) Can I text message the ringtone?</strong><br />
			Unfortunately, no.<br />
			<br />
			<strong>Q.) Can I email the ringtone?</strong><br />
			Yes! You will have the option of downloading and attaching the ringtone to email to yourself when you tap on the email icon for a specific song.<br />
			<br />
			<strong>Q.) Can I download the Album Cover Artwork?</strong><br />
			Yes! Tap on the album cover and it will ask you if you would like to download it to your device.<br />
			<br />
			<strong>Q.) Where are Album Covers stored?</strong><br />
			All Artwork is stored in the 'Album Cover Artwork' folder. You can see them in the Photos app after a few seconds. You can also plug your device into the computer (in USB mode) and pull them off. You can also email or text them from the Photos app.<br />
			<br />
			<strong>Q.) Can I quickly search an artist/song/album from a result page?</strong><br />
			Yes! Tap on the Artist name, Song name, or Album name. You can then search on that name, or copy it to your clipboard.<br />
			<br />
			<strong>Q.) Why only 30 seconds of audio?</strong><br />
			They are short in length as your phone will go to voicemail after 30 seconds and stop ringing (if you do not answer before this). Anything longer would simply not be played, so is not needed. This also helps conserve storage space.<br />
			<br />
			<strong>Q.) Why not provide the full song?</strong><br />
			If it were the full song, they would not be free. Besides, the length of your ringer is 30 seconds.<br />
			<br />
			<strong>Q.) Can I get the full song?</strong><br />
			Yes! For each song there is a link to purchase the full song. The full song will not be free, but tracks are usually 99&cent; to $1.29 and very affordable. Support artists by purchasing their albums, attending concerts, and buying other items such as t-shirts and stickers.<br />
			<br />
			<br />
		</div>

		<!-- -->

		<div id="helpPixi" title="Notice for Pixi Users" style="display:none;">
			<table class='palm-list-section-label' style="margin-left:-10px; margin-right:-40px; width:320px;"><tr><td class=left></td><td class=label>Please Read</td><td class=right></td></tr></table>
			It is <strong>imperative</strong> that you read and understand each item on this list.<br />
			<ol style="margin:10px; padding:10px; line-height:150%;">
				<li>There is a bug in the code for the Pixi that prevents these tones from being used as Email and Text Alerts.</li>
				<li>The tones still work great as ringtones for phone calls and alerts for other apps.</li>
				<li>The bug is in webOS itself, and NOT in the App.</li>
				<li>Palm has been alerted to the Bug, confirmed it, and working on a solution.</li>
				<li>The fix will come as an update to webOS itself FREE of charge.</li>
				<li>You do NOT need to replace or fix your phone. There is nothing wrong with the phone itself.</li>
			</ol>
			<br />
		</div>

		<!-- -->
		
		<div id="helpSendToApp" title="Send to App Feature" style="display:none;">
			<table class='palm-list-section-label' style="margin-left:-10px; margin-right:-40px; width:320px;"><tr><td class=left></td><td class=label>Say What?</td><td class=right></td></tr></table>
			Free Music Ringtones now sports a cool new feature, Send to App.<br />
			<br />
			The idea is simple. Other webOS Apps have alerts and notifications to tell you when things happen. It could be a new Twiiter @ mention. Maybe a reminder when you get close to a location. It could also be the tone that wakes you up from your nap.<br />
			<br />
			Free Music Ringtones has therefore worked with developer's of other apps. Now, you can "send" the ringtone to the app of your choosing. This ringtone will then be used as the alert notifying you of the important information. Not only can you identify people calling you, but now you can know exactly what app is trying to get your attention.<br />
			<br />
			This revolutionary idea is made possible only on webOS and it's unique multi-tasking capabilities. Apps working with other apps to acheive a greater good. THAT'S the power of webOS!<br />
			<br /><br />
		</div>
	
	</div>
	<div id="info"></div>
</div>