<div id="palm-dialog-content" class="palm-dialog-content">
	<div class="palm-dialog-title" style="text-transform:none;">iTunes Link</div>
	<div class="palm-dialog-separator"></div>
</div>
<div style="font-size:14px;">
Currently, you cannot buy music from iTunes through your device. This must be done solely through the iTunes software on your desktop.<br /><br />
You can email the link to yourself and purchase from a desktop computer, or view the iTunes web store anyways.
</div>
<table width="100%">
	<tr>
		<td width="50%"><div id="btncancel" name="btncancel" class="palm-button negative buttonfloat">Close<div></td>
		<td width="25%"><div id="btnItunesWeb" name="btnItunesWeb" class="palm-button dismissal buttonfloat"><img src="images/browser-32x32.png" style="padding-top:10px;" /><div></td>
		<td width="25%"><div id="btnItunesEmail" name="btnItunesEmail" class="palm-button dismissal buttonfloat"><img src="images/email-32x32.png" style="padding-top:10px;" /><div></td>
	</tr>	
</table>