<div class="my-scene-fade-lyrics-bottom" x-mojo-scroll-fade="bottom" style="margin-left:-10px; margin-right:-10px;"></div>
<div id="palm-dialog-content" class="palm-dialog-content">
	<div class="palm-dialog-title" style="text-transform:none;">Lyrics</div>
	<div class="palm-dialog-separator"></div>
</div>
<div style="font-size:14px; height:100px;" x-mojo-element="Scroller" id="theLyrics">
	<div id="theDefault">
		<b>Not Found</b><br />
		<br />
		Sorry, but the lyrics could not be found. Try the "Web Search" Button to search Google for the lyrics.
	</div>
</div>
<table width="100%">
	<tr>
		<td width="50%"><div id="btnCancel" name="btnCancel" class="palm-button negative buttonfloat">Close<div></td>
		<td width="50%"><div id="btnWeb" name="btnWeb" class="palm-button dismissal buttonfloat"><img src="images/browser-32x32.png" style="padding-top:10px;" /><div></td>
	</tr>	
</table>