<div class="my-scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
<div id="main">
	<!--<div id="splHelp" style="background-image:url(images/design/help.png); background-repeat:no-repeat; height:25px; width:60px; margin-left:225px;"></div>-->

	<div id="logos">
		<div id="splIcon" style="float:left; margin-left:55px;"><img src="images/design/splash-logo-orig.png" width="101" height="137" /></div>
		<div style="float:right; margin-right:55px;">
			<div style="text-align:center;"><img src="images/design/splash-text.png" width="98" height="76" /></div>
			<div style="text-align:center; font-size:10px;" id="lblFollow">Follow me on:</div>
			<div style="text-align:center;"><img src="images/facebook-32x32.png" width="32" height="32" id="splFacebook" style="float:left; margin-left:6px;" /><img src="images/twitter-32x32.png" id="splTwitter" width="32" height="32" style="float:right; margin-right:6px;" /></div>
		</div>
		
	</div>

	<!--<div class="palm-content" style="font-size:11px; text-align:center; padding-top:5px; margin-bottom:-3px;" id="lblVolume">Be sure to turn up your volume!</div>-->

	<div id="search-types" align="center">
		<div id="search-select" class="search-select">Search:</div>
		<div id="search-all" class="search-options search-selected">All</div>
		<div id="search-song" class="search-options search-unselected">Song</div>
		<div id="search-artist" class="search-options search-unselected">Artist</div>
		<div id="search-album" class="search-options search-unselected">Album</div>
	</div>
	<div style="clear:both"></div>
	
	<div class="palm-group unlabeled">
		<div class="palm-list">
			<div class="palm-row single">
				<div x-mojo-focus-highlight="true" class="palm-row-wrapper textfield-group">
					<div class="title">
						<div x-mojo-element="TextField" class="truncating-text" id="searchterm"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--<div id="searchnotice">This is some text</div>-->
	<div id="search-country" style="float:right; width:70px; font-size:11px; color:#1F75BF; text-decoration:underline; margin-right:20px; padding:5px; text-align:center;"></div>
	<div align="center"><img src="images/design/search-button.png" id="searchbutton" style="text-align:center; padding-left:80px;" /></div>

	<div style="clear:both;"></div>
	<div id="extraContent"></div>

	<div id="Top100" class="splItem">Top 100 Songs by Genre</div>
	<div id="Browse" class="splItem">Top Song Lists</div>
	<div id="Favorites" class="splItem">Favorites &amp; Downloaded</div>
	<div id="AutoSwap" class="splItem">Auto Swap Ringtone</div>
	<div id="Manage" class="splItem">Manage Sounds &amp; Ringtones</div>
	<!--<div id="MoreMusic" class="splItem">More Music</div>-->
	<div id="Help" class="splItem">Help, FAQ, &amp; Contact</div>
	
	<br />
	<div style="font-size:10px; padding:11px; color:#999999; text-align:center">Promo content provided courtesy of iTunes for personal use only.</div>
	<br />
	<div id="info"></div>
</div>