<div class="my-scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
<div id="main">
	<div class="palm-page-header brandHeader" id="brandHeader">
		<div class="palm-page-header-wrapper">
			<div class="title" id="title">Update webOS</div>
		</div>
	</div>
	<div class="brandHeaderSpacer" id="brandHeaderSpacer"></div>

	<table class='palm-list-section-label'><tr><td class=left></td><td class=label>Update Required</td><td class=right></td></tr></table>
	<div style="font-size:14px; padding:10px; line-height:150%;">
		In order to use Free Music Ringtones, you must have webOS v1.4.0 or later. Please launch the 'Update' app in order to update your device to the latest version. Once you update, Free Music Ringtones will work seamlessly and open properly without this notice.
		<br />
	</div>
	<div x-mojo-element="Button" id="updateButton"></div>
	
	<div id="info" style="font-size:small;"></div>
</div>